.msg-banners {
  position: fixed;
  top: 0.4rem;
  right: 0.5rem;
  z-index: 999;

  &--none {
    display: none;
  }

  &__item {
    //
  }

  &__content {
    //
  }

  &__close {
    // Override Bootstrap close button styles as silverstripe/admin updated bootstrap to v5.
    --bs-btn-close-bg: none;

    width: auto;
    height: auto;
    font-weight: 700;
  }
}
