/**
 * Toast message pop-up
 */
.toast {
  font-size: $font-size-small;
  line-height: $line-height-small;

  &__body {
    align-items: center;
    color: $color-black;
  }

  &__content {
    font-size: 1.3rem;
  }
}
